@import "tailwindcss";

@theme {
  /* Định nghĩa các biến màu dùng chung cho Tailwind */
  --color-background: #ffffff;
  --color-foreground: #171717;
}

/* Định nghĩa Dark Mode */
.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

@layer base {
  html {
    /* Đảm bảo transition mượt mà khi chuyển theme */
    @apply transition-colors duration-300;
  }

  body {
    @apply bg-[var(--color-background)] text-[var(--color-foreground)] transition-colors duration-300;
  }
}